body.on{
    overflow: hidden;
}
header{
    z-index: 10;
}
section.container{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
}
section.container img{
    width: 50px;
    margin-right: 50px;
}
section.container a{
    text-decoration: none;
}
section.container .menu{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
section.container .menu nav ul{
    display: flex;
    align-items: center;
    height: 48px;
    list-style: none;
}
section.container .menu nav ul a{
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #555;
}
section.container .menu nav ul a:hover{
    color: var(--purple-secondary-color);
}
section.container .menu nav ul a:first-child li{
    color: var(--purple-primary-color);
}
section.container .logon{
    display: flex;
    align-items: center;
}
section.container .logon a span{
    background-image: url(../img/log-in.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
}
section.container .logon a:first-child{
    color: var(--purple-primary-color);
    font-weight: 500;
    font-size: 18px;
    display: flex;
}
section.container .logon a:last-child{
    background-color: var(--purple-primary-color);
    color: #fff;
    width: 180px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
    transition: 400ms;
}
section.container .logon a:last-child:hover{
    background-color: #990ad1;
}

/* Menu mobile */
section.container .menuMobile{
    width: 48px;
    height: 48px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
section.container .menuMobile.on .one{
    transform: rotate(45deg) translate(4px, 5px);
    transition: 400ms;
}
section.container .menuMobile.on .two{
    transform: rotate(-45deg) translate(-1px, 0px);
    transition: 400ms;
}
section.container .menuMobile:hover{
    background-color: #D09BE5;
    opacity: 0.9;
}
section.container .menuToogle{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.container .menuToogle div{
    width: 40%;
    height: 2px;
    margin-bottom: 4px;
    background-color: #333;
}
header .ContainerMenuMobile{
    height: 100vh;
    display: none; 
}
header .ContainerMenuMobile.on{
    display: block;
}
header .ContainerMenuMobile.on nav ul{
    list-style: none;
    padding: 30px;
    position: relative;
    left: 0;
    animation: menuActive 1s both;
}
@keyframes menuActive{
    0%{
        top: -500px;
    }
    100%{
        top: 0px;
    }
}
header .ContainerMenuMobile.on nav ul li{
    margin-top: 30px;
}
header .ContainerMenuMobile.on nav ul li:active a{
    color: var(--purple-secondary-color);
}
header .ContainerMenuMobile.on nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #555;
}
header .ContainerMenuMobile.on nav ul li:first-child a{
    color: var(--purple-primary-color);
}
header .ContainerMenuMobile.on .logon{
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: visibil 1s both;
}
@keyframes visibil{
    0%{
        opacity: 0;
    }
    100%{
        transition: 400ms;
        opacity: 1;
    }
}
header .ContainerMenuMobile.on .logon a{
    text-decoration: none;
}
header .ContainerMenuMobile.on .logon a span{
    background-image: url(../img/log-in.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
}
header .ContainerMenuMobile.on .logon a:first-child{
    color: var(--purple-primary-color);
    font-weight: 500;
    font-size: 18px;
    display: flex;
}
header .ContainerMenuMobile.on .logon a:last-child{
    background-color: var(--purple-primary-color);
    color: #fff;
    width: 180px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
    transition: 400ms;
}
header .ContainerMenuMobile.on .logon a:last-child:hover{
    background-color: #990ad1;
}
/* end menu mobile */
main{
    padding: 60px 0;
}
main .bannerHome{
    display: flex;
    align-items: center;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    background-image: url(../img/bannerwomenjumping.jpg);
    background-size: cover;
}
main .bannerHome div{
    width: 50%;
}
main .bannerHome div:first-child{
    padding: 0 60px;
    color: #fff;
}
main .bannerHome div:first-child h1{
    font-size: 3em;
}
main .bannerHome div:first-child p{
    font-size: 26px;
    max-width: 370px;
    margin: 15px 0;
    font-weight: bold;
}
main .bannerHome div:first-child a{
    background-color: var(--purple-primary-color);
    color: #fff;
    display: block;
    width: 80%;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
main .bannerHome div:first-child a:hover{
    background-color: #990ad1;
}
main .bannerHome div:nth-child(2) img{
    width: 450px;
    height: 580px;
    position: absolute;
    top: 330px;
    right: 180px;
}

section.accountDigital{
    width: 100%;
    background-color: rgb(245, 245, 245);
    margin-top: 80px;
}
section.accountDigital article{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
section.accountDigital article .description{
    width: 60%;
}
section.accountDigital article h1 a{
    text-decoration: none;
    font-size: 3em;
    color: var(--purple-primary-color);
}
section.accountDigital article h1:first-child a:hover{
    text-decoration: underline;
}
section.accountDigital article h1:nth-child(2){
    font-size: 3em;
    color: #111;
    font-weight: 500;
    max-width: 480px;
    margin-bottom: 30px;
}
section.accountDigital article .description a.btnsecurity{
    color: var(--purple-primary-color);
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    width: 260px;
}
section.accountDigital article .description a.btnsecurity span{
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(135deg);
}
section.accountDigital article img{
    height: 600px;
    margin-top: 50px;
}
section.cardCredit{
    width: 100%;
    margin-top: 80px;
}
section.cardCredit article{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
section.cardCredit article .description{
    width: 60%;
}
section.cardCredit article h1 a{
    text-decoration: none;
    font-size: 3em;
    color: var(--purple-primary-color);
}
section.cardCredit article h1:first-child a:hover{
    text-decoration: underline;
}
section.cardCredit article h1:nth-child(2){
    font-size: 3em;
    color: #111;
    font-weight: 500;
    max-width: 480px;
    margin-bottom: 30px;
}
section.cardCredit article .description a.btnsecurity{
    color: var(--purple-primary-color);
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    width: 260px;
}
section.cardCredit article .description a.btnsecurity span{
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 22px;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(180deg);
}
section.cardCredit article div:last-child{
    width: 40%;
    display: flex;
    justify-content: center;
}
section.cardCredit article img{
    height: 660px;
    transform: translateY(80px);
}
section.rewards{
    width: 100%;
    background-color: var(--purple-terciary-color);
    margin-top: 80px;
}
section.rewards article{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
section.rewards article .description{
    width: 60%;
}
section.rewards article h1 a{
    text-decoration: none;
    font-size: 3em;
    color: var(--purple-quartiary-color);
}
section.rewards article h1:first-child a:hover{
    text-decoration: underline;
}
section.rewards article h1:nth-child(2){
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    max-width: 480px;
    margin-bottom: 30px;
}
section.rewards article .description a.btnsecurity{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    width: 260px;
}
section.rewards article div:last-child{
    width: 40%;
    display: flex;
    justify-content: center;
}
section.rewards article .description a.btnsecurity span{
    background-image: url(../img/arrow-left2.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(135deg);
}
section.rewards article img{
    height: 520px;
    width: 380px;
    margin: 50px 0;
}
section.group{
    width: 100%;
    background-image: url(../img/reuniao.jpg);
    background-size: cover;
    height: 600px;
}
section.group article{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
section.group article .description{
    width: 60%;
}
section.group article h1{
    font-size: 3em;
    max-width: 300px;
    color: #fff;
    margin-bottom: 30px;
}
section.group article .description a.btnsecurity{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    width: 260px;
}
section.group article .description a.btnsecurity span{
    background-image: url(../img/arrow-left2.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(180deg);
}
section.community{
    width: 100%;
    background-image: url(../img/community.jpg);
    background-size: cover;
    height: 600px;
}
section.community article{
    width: 90%;
    margin: 0 auto;
}
section.community article .description{
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.community article h1{
    font-size: 3em;
    color: #fff;
    margin-bottom: 30px;
}
section.community article h1:nth-child(2){
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    max-width: 440px;
    margin-bottom: 30px;
}
section.community article .description a.btnsecurity{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    width: 390px;
}
section.community article .description a.btnsecurity span{
    background-image: url(../img/arrow-left2.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(135deg);
}
section.menAndApp{
    width: 100%;
    background-image: url(../img/menandsmartphone.jpg);
    background-size: cover;
    background-position-y: -120px;
    height: 600px;
}
section.menAndApp article{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
section.menAndApp article .description{
    width: 60%;
}
section.menAndApp article h1{
    font-size: 3em;
    max-width: 460px;
    color: #fff;
    margin-bottom: 30px;
}
section.menAndApp article .description a.btnsecurity{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    width: 260px;
}
section.menAndApp article .description a.btnsecurity span{
    background-image: url(../img/arrow-left2.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(180deg);
}
footer{
    width: 100%;
    background-color: #111;
    color: #fff;
}
footer section.gridGroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    width: 90%;
    margin: 0 auto;
    
}
footer section.gridGroup div{
    margin-top: 60px;
}
footer section.gridGroup div span{
    display: inline-block;
    margin-bottom: 30px;
    font-size: 18px;
    color: #888;
}
footer section.gridGroup div li{
    margin-bottom: 10px;
}
footer section.gridGroup div li a{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}
footer section.gridGroup div li a:hover{
    color: var(--purple-secondary-color);
}
footer section.gridGroup div:last-child{
    display: flex;
    flex-direction: column;
}
footer section.gridGroup div img{
    width: 160px;
    height: 100px;
}
footer section.developer{
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
footer section.developer strong{
    color: var(--purple-primary-color);
}
footer section.developer a{
    color: #fff;
}
footer section.developer a i{
    font-size: 32px;
    margin: 10px;
}
footer section.developer a:hover i{
    color: var(--purple-secondary-color);
}