@media screen and (max-width: 780px){
    section.container{
        justify-content: space-between;
    }
    section.container .menu{
        display: none;
    }
    section.container .menuMobile{
        display: flex;
    }
    main{
        padding: 0;
    }
    main .bannerHome{
        width: 100%;
    }
    main .bannerHome div:first-child{
        width: 100%;
    }
    main .bannerHome div:nth-child(2){
        display: none;
    }
    main .bannerHome div:first-child a{
       width: 100%;
    }
    section.accountDigital article{
        flex-direction: column;
    }
    section.accountDigital article .description{
        width: 100%;
    }
    section.accountDigital article h1 a{
        font-size: 2em;
        display: inline-block;
        margin-top: 60px;
    }
    section.accountDigital article h1:nth-child(2){
        font-size: 2em;
    }
    section.accountDigital article img{
        height: 400px;
        width: 380px;
    }
    section.cardCredit article{
        flex-direction: column;
    }
    section.cardCredit article .description{
        width: 100%;
    }
    section.cardCredit article h1 a{
        font-size: 2em;
        display: inline-block;
        margin-top: 60px;
    }
    section.cardCredit article h1:nth-child(2){
        font-size: 2em;
    }
    section.cardCredit article img{
        height: 400px;
    }
    section.rewards article{
        flex-direction: column;
    }
    section.rewards article .description{
        width: 100%;
    }
    section.rewards article h1 a{
        font-size: 2em;
        display: inline-block;
        margin-top: 60px;
    }
    section.rewards article h1:nth-child(2){
        font-size: 2em;
    }
    section.rewards article img{
        height: 400px;
        width: 320px;
    }
    section.group article h1{
        font-size: 2.5em;
    }
    section.group{
        background-position: center;
    }
    section.community article .description h1{
        font-size: 2.5em;
    }
    section.menAndApp{
        background-position: center;
    }
    section.menAndApp article h1{
        font-size: 2.5em;
    }
    footer section.gridGroup{
        grid-template-columns: 1fr;
    }
    
}
@media screen and (max-width: 660px){
    main .bannerHome div:first-child{
        padding: 0 30px;
    }
    main .bannerHome div:first-child h1{
        font-size: 2em;
    }
    main .bannerHome div:first-child p{
        font-size: 22px;
    }
}
@media screen and (max-width: 500px){
    main .bannerHome div:first-child h1{
        font-size: 1.5em;
    }
    main .bannerHome div:first-child p{
        font-size: 20px;
    }
    main .bannerHome{
        background-position: center;
    }
    section.accountDigital article h1 a{
        font-size: 1.5em;
    }
    section.accountDigital article h1:nth-child(2){
        font-size: 1.5em;
        max-width: 300px;
        color: #000;
    }
    section.cardCredit article h1 a{
        font-size: 1.5em;
    }
    section.cardCredit article h1:nth-child(2){
        font-size: 1.5em;
        max-width: 300px;
        color: #000;
    }
    section.rewards article h1 a{
        font-size: 1.5em;
    }
    section.rewards article h1:nth-child(2){
        font-size: 1.5em;
        max-width: 300px;
    }
    section.rewards article img{
        height: 460px;
        width: 380px;
    }
    section.group{
        background-size: contain cover;
        background-repeat: no-repeat;
    }
    section.group .description h1{
        font-size: 1.8em;
        max-width: 300px;
    }
    section.community{
        background-position: center;
    }
    section.community article .description h1{
        font-size: 1.8em;
        max-width: 300px;
    }
    section.menAndApp article .description h1{
        font-size: 1.8em;
        max-width: 300px;
    }
    
}
@media screen and (max-width: 320px){
    main .bannerHome div:first-child a{
        font-size: 14px;
    }
    section.accountDigital article img{
        width: 320px;
    }
    section.group{
        background-size: 660px 600px;
    }

}